h1 {
    font-family: 'Permanent Marker', cursive;
}

body {
    /* background-color: #10E7dc; */
    font-size: 22px;
    color: #0074e1;
    font-family: 'Permanent Marker', cursive;
}

.hero-header {
    background-color: #1b9ce5;
    color: #6cdaee;
    padding: 20px;
    text-align: center;
}

#note-text {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#notes {
    font-family: Arial, Helvetica, sans-serif;
}